:root {
    /* --main-color-red: #EE3837; */
    --lk-thumbnail-height: 118px;
    --lk-primary-main-color: #ee3837;
    --lk-login-color: #b57a7a;
    --lk-detail-info-color: #f57070;
    --lk-byline-color: #666666;
    --lk-tabs-active-font-color: #f26767;
    --lk-tabs-font-color: #666666;
    --lk-button-color: #f85454;
    --lk-login-bg-color: #f25453;
    --lk-sidnav-font-color: #fbdede;
    --lk-video-font-colr: #666666;
    --lk-section-line-color: #e5e4e4;
   
    --lk-gnb-button-size: 22px;
    --lk-gnb-button-interval: 60px;
    --lk-gnb-login-font-size: 1rem;
    --lk-gnb-search-width: 600px;

    --lk-side-width: 250px;
    --lk-side-font-size: 1.0rem;

    /* index ads */
    --lk-index-ads-slick-width: 700px;
    --lk-index-ads-slick-height: 366px;
    --lk-index-ads-img-width: 700px;
    --lk-index-ads-img-height: 366px;

    /* beauty networks */
    --lk-bnw-profile-width: 500px;
    --lk-bnw-profile-height: 225px;
    --lk-bnw-btn-section-width: 600px;
    --lk-bnw-btn-section-height: 225px;

}

body {
    /* font-family: Helvetica; */
    font-family: Roboto,sans-serif;
}

a {
    text-decoration: none;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0 !important;
}

[contenteditable="true"]:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    margin-left: var(--lk-side-width);
    padding: 30px;
    /* overflow: hidden; */
}

.lk-row {
    position: relative;
    /* width: 1038px; */
    width: 1130px;
    margin: 0 auto;
}

.section-title {
    margin-bottom: 20px;
    position: relative;
}

.section-title h2 {
    font-size: 1.3rem;
    color: #676767;
    margin: 0;
    font-weight: 400px;
    line-height: 140%;
}

/* ---------------------------------------------------
  HEADER (GNB)
----------------------------------------------------- */

.lk-header-container {
    /* height: /70px; */
    z-index: 1000;
}

.lk-h {
    height: 70px;
}

.lk-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.1);
}

.lk-header .lk-logo {
    padding-top: 1rem;
}

.lk-mega-item {
    min-width: var(--lk-gnb-button-interval);
    text-align: center;
}

.lk-mega-item .dropdown-toggle::after {
    color: #d8d8d8;
}

.lk-mega-item .dropdown-menu {
    position: absolute;
    right: 20px;
}

.lk-mega-item .dropdown-item {
    color: #666666;
    font-size: 0.8rem;
}

.lk-mega-menu {
    width: var(--lk-gnb-button-size);
    height: var(--lk-gnb-button-size);
}

.lk-mega-item.lk-profile > a {
    padding-top: 3px;
}

.lk-mega-item.lk-profile > a > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(239, 87, 79, 0.26);
}

.lk-mega-item.lk-login {
    font-size: var(--lk-gnb-login-font-size);
    margin-top: 7px;
}

.lk-mega-item > a {
    color: #065FD4 !important;
}




.lk-dropdown-me {
    position: relative;
    width: 280px;
}

.lk-dropdown-me {
    position: relative;
    padding: 0;
}

.lk-dropdown-me-header {
    padding: 11px 16px;
}

.lk-dropdown-me > a > img {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.lk-dropdown-me .lk-me-body h3 {
    font-size: 1rem;
}

.lk-dropdown-me .lk-me-body p {
    margin-bottom: 0;
}

.dropdown-item:active {
    text-decoration: none;
    background: #f9d9d9;
    color: #f56766;
}

.dropdown-divider {
    height: 0;
    margin: 0.2rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
/* ---------------------------------------------------
  Search 
----------------------------------------------------- */

.search-input {
    position: relative;
    width: var(--lk-gnb-search-width);
}

.search-input input {
    border: 1px solid #d6d6d6;
}

#search:focus {
    outline: none;
}

.search-input .form-control {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* font-size: 1.6rem; */
    color: #4a4a4a;
    background-color: #ffffff;
    height: 33px;
    font-weight: 300;
    font-size: 14px;
    padding-right: 30px;
    border-color: #4e4d4d;
    /* border-color: #e1e1e1;     */
    position: relative;
    -webkit-appearance: none;
    /* -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); */
}

.search-input .form-control:focus {
    border: 1px solid #f45150;
}

.search-input > i {
    width: 33px;
    height: 33px;
    line-height: 33px !important;
    font-size: 1.4rem;
    top: 0;
    right: 0;
    color: #b2b2b2;
    position: absolute;
    text-align: center;
    margin-top: 0;
}

.input-group .search-input {
    border: 1px solid #dae0e5;
}

.lk-search {
    padding-top: 1.25rem;
}

/* ---------------------------------------------------
  Side Nav Bar
----------------------------------------------------- */

.side-scroll {
    overflow: auto;
}

.lk-side-nav {
    width: var(--lk-side-width);
    z-index: 10;
    background-color: #ee3837;
    list-style-type: none;
    bottom: 0;
    position: fixed;
    margin-top: 70px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 0;
}

.lk-side-nav .btn_toggle {
    display: block;
    position: absolute;
    top: 0;
    right: -30px;
    width: 21px;
    height: 38px;
    padding: 6px 10px 6px 0;
    z-index: 100;
}

.lk-side-nav-title {
    padding: 12px 12px;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    text-transform: uppercase;
    color: #cedce4;
    font-weight: 700;
}

.lk-sidemenu {
    padding: 0;
    /* margin-top: 30px; */
    overflow: auto;
    margin-bottom: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
    border-bottom: 1px solid #e36161
}

.lk-sidemenu li {
    list-style: none;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-left: 2px;
}

.badge-light {
    color: #313a46;
    background-color: #e3eaef;
}

/* .lk-side-main-link {
    color: var(--lk-sidnav-font-color);
    display: block;
    padding: 10px 20px 10px 10px;
    font-size: 0.9375rem;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
} */

.lk-sidemenu li.active > a {
    color: #0056b3;
}

/* #side-nav ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #c50c0c;
} */

.lk-side-link {
    color: var(--lk-sidnav-font-color);
    display: block;
    padding: 8px 20px 8px 30px;
    font-size: 0.9375rem;
    font-size: var( --lk-side-font-size);
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

/* ---------------------------------------------------
  Index - Main Ads
----------------------------------------------------- */

.ads-section {
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e4e4;
}

.ads-main {
    position: relative;
    /* display: inline-block; */
}

.ads-main-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    padding: 0;
    /* margin-right: 5px; */
    /* border-radius: 2px; */
}

.slick-slider {
    width: var(--lk-index-ads-slick-width);
    height: var(--lk-index-ads-slick-height);
}

.ads-main > img {
    display: block;
    width: var(--lk-index-ads-img-width);
    height: var(--lk-index-ads-img-height);
}

.ads-main:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ads-main > img {
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.ads-main-body {
    padding: 13px 13px 13px;
    background: #f8f8f8;
    height: 90px;
    position: relative;
}

.ads-main-body > small {
    color: #9c9c9c;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}

.ads-main-body > h3 {
    font-size: 0.9375rem;
    margin: 0 0 5px;
}

.ads-main-body > small,
.ads-main-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ads-main-body .heart {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    background-color: red;
}

.ads-list {
    margin-right: 5px;
}
.ads-list .ads-list-item:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ads-list .ads-list-item > a {
    display: block;
}

.ads-list .ads-list-item > a > img {
    margin-bottom: 5px;
}
.ads-list .ads-list-item > a > img:hover {
    border: 2px solid #f43a3a;
}

.ads-list .ads-list-item > a > img:hover {
    border: 2px solid #f43a3a;
}

.ads-channel-list {
    display: flex;
    flex-direction: row;

}

.ads-channel-item {
    position: relative;
    align-items: center;
    flex: none;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.1);
}

.ads-channel-item.ads-chsize {
    width: 170px;
    height: 170px;
}

.ads-channel-item.ads-chsize > img {
    border-radius: 50%;
    border: solid 2px #f57070;
    width: 80px;
    height: 80px;
    
}


/* ---------------------------------------------------
  Trending - channel
----------------------------------------------------- */

.trending-header {
    position: relative;
    width: 1038px;
    margin: 0 auto;
    /* padding: 7px 0 0; */
    margin-top: 10px;
    margin-bottom: 25px;
}

.trending-header > ul {
    float: right;
}

.trending-header-title {
    font-size: 1.3rem;
}

.trending-header > ul > li > .btn {
    background: #ee3837;
    border-radius: 8px;
    color: #ffffff;
}

.ch-section-title {
    font-family: Helvetica-Bold;
    margin-bottom: 20px;
    position: relative;
}

.ch-section-title h2 {
    font-size: 1rem;
    color: #676767;
    margin: 0;
    font-weight: 400;
    line-height: 140%;
}

.trending-channel-list {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

.trending-channel-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #f1f1f1;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 20px;
}

.trending-channel-item .channel-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

/* .trending-channel-item .overlay-to-top > p > a.active {
  color: #2196F3;
} */

.channel-info {
    padding: 10px 0;
}

.channel-info > h4 {
    font-size: 15px;
    color: black;
    font-weight: normal;
    margin-top: 0;
}
.channel-info > small {
    display: block;
    color: #9c9c9c;
    margin-bottom: 15px;
}

.rank {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    background-color: #f25453;
}

.chsize {
    width: 192px;
    height: 192px;

    /* height: 200px; */
}

/* .bgcolor {
  color: black;
} */

.bgcolor:hover {
    background-color: #f2676740;
}

.chimg {
    /* border-radius: 50%; */
    /* width: 100px;
    height: 100px; */
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

.overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.overlay-container > img {
    position: relative;
    width: 100%;
}

.overlay-to-top {
    position: absolute;
    top: auto;
    padding: 10px;
    bottom: -30px;
    left: 0;
    right: 0px;
    /* background-color: rgba(30, 30, 30, 0.5); */
    background-color: #ee3837;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    color: #ffffff;
    z-index: 30;
}

.overlay-container:hover .overlay-to-top {
    opacity: 1;
    filter: alpha(opacity=100);
    bottom: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.overlay-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px 17px 14px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 3px 3px;
}

.overlay-bottom {
    /* padding: 13px 13px 13px; */
    padding: 7px 7px 5px;
}

.overlay-bottom > small {
    color: white;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}
.overlay-bottom > h3 {
    color: white;
    font-size: 0.9375rem;
    margin: 0 0 5px;
}

.overlay-bottom > small,
.overlay-bottom > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overlay-visible .overlay-bottom {
    opacity: 1;
    filter: alpha(opacity=100);
    height: auto !important;
    padding-bottom: 20px;
}

.overlay-visible.overlay-container:hover .overlay-bottom {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.overlay-link {
    position: absolute;
    z-index: 10;
    top: 0;
    padding: 15px;
    bottom: 0px;
    left: 0;
    right: 0px;
    background-color: rgba(30, 30, 30, 0.22);
    /* background-color: rgba(30, 30, 30, 0.5); */
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    color: #ffffff;
}

.overlay-link i {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 32px;
    line-height: 30px;
}

.overlay-link i:hover {
    background-color: #ffffff;
    color: #777777;
}

.overlay-link i:hover {
    background-color: #ffffff;
    color: #777777;
}

.overlay-container:hover .overlay-link {
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

/* ---------------------------------------------------
    Index - Recent Section
----------------------------------------------------- */

.recent-section {
    position: relative;
    white-space: nowrap;
    padding: 30px 0;
    border-bottom: 1px solid #e5e4e4;
}

.recent-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.recent-grid-item {
    width: 365px;
    /* height: 273px; */
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-right: 6px;
}

.recent-grid-body {
    padding: 13px 13px 13px;
    background: #ee3837;
    position: relative;
}

.recent-grid-body > small {
    /* color: #9c9c9c; */
    color: #f1f1f1;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}
.recent-grid-body > h3 {
    color: #ffffff;
    font-size: 0.9375rem;
    margin: 0 0 5px;
}

.recent-grid-body > small,
.recent-grid-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recent-grid-body > i.zmdi-favorite-outline {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
}

.recent-sub {
    display: inline-block;
}

.recent-sub-list {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /* margin-right: -15px;
  margin-left: -15px; */
}

.sub-top {
    margin-bottom: 10px;
}

.recent-sub-item {
    width: 197px;
}

.recent-sub-item {
    width: 197px;
    /* height: 206px; */
    background-color: #fff;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 15px; */
    margin-right: 10px;
}

.recent-sub-main:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.recent-sub-main > img {
    width: 100%;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.recent-sub-body {
    padding: 7px 7px 5px;
    background: #f8f8f8;
}

.recent-sub-body > small {
    color: #9c9c9c;
    display: block;
    font-size: 0.5px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}
.recent-sub-body > h3 {
    color: var(--lk-video-font-color);
    font-size: 0.8rem;
    margin: 0 0 5px;
}

.recent-sub-body > small,
.recent-sub-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---------------------------------------------------
    Index - Video Section
----------------------------------------------------- */

.video-section {
    padding: 30px 0;
    border-bottom: 1px solid #e5e4e4;
}

.video-section .video-list:hover {
    transform: scale(1.2);
}

.video-grid-list {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    /* margin-right: -15px;
  margin-left: -15px; */
}

.listings-grid-item .time {
    position: absolute;
    color: #dee2e6;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.3rem;
    font-weight: 400;
    padding: 3px;
    top: 7px;
    right: 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.best {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.listings-grid-item {
    width: 197px;
    height: 206px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 10px;
}

.listing-bg-color {
    background-color: #fff;
}

.listings-grid-main:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

/* .listings-grid-item:hover {
  background-color: #fffdee;
} */

.listings-grid-main > img {
    width: 100%;
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.listings-grid-body {
    padding: 13px 13px 13px;
    background: #f8f8f8;
}

.listings-grid-body > small {
    color: #9c9c9c;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}
.listings-grid-body > h3 {
    color: var(--lk-video-font-color);
    font-size: 0.9375rem;
    margin: 0 0 5px;
}

.listings-grid-body > small,
.listings-grid-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---------------------------------------------------
  Index detail   
----------------------------------------------------- */

.index-detail-section {
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.player-section {
    float: left;
    width: 700px;
}

.player-section video {
    display: block;
}

.player-body {
    padding: 13px 13px 13px;
    background: #fafafa;
    /* height: 90px; */
    position: relative;
}

.player-body > small {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 16px;
}

.player-body > h3 {
    color: #f57070;
    font-size: 1rem;
    margin: 0 0 5px;
}

.player-body > small,
.player-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-icon-list {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 0px;
}

.player-icon-list.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.player-icon-list .icon-item {
    display: inline-block;
    width: 50px;
    /* margin: 7px 7px 0 0;  */
}

.player-icon-list a {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.player-icon-list > li > a {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
}

.player-icon-list > li > a:hover {
    color: #e7e7e7;
    border: 1px solid #e7e7e7;
}

.btn-default {
    background-color: #3697d9;
    border-color: #338dca;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.show > .dropdown-toggle.btn-default {
    background-color: #338dca;
    border-color: #338dca;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
    background-color: #3697d9;
    border-color: #338dca;
}

.btn-default-transparent {
    border-color: #3697d9;
}

.btn-default-transparent:hover,
.btn-default-transparent:focus,
.btn-default-transparent.focus,
.btn-default-transparent:active,
.btn-default-transparent.active,
.show > .dropdown-toggle.btn-default-transparent {
    background-color: #338dca;
    border-color: #338dca;
}

.default-bg .btn-default,
.default-translucent-bg .btn-default,
.default-bg .btn-default-transparent,
.default-translucent-bg .btn-default-transparent {
    color: #3697d9;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.show > .dropdown-toggle.btn-white {
    color: #338dca;
}

.btn-animation:hover:before,
.btn-animation:focus:before {
    background: #338dca;
}

.detail-channel {
    margin-top: 40px;
}

.detail-channel > a > img {
    border-radius: 49.9%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.detail-channel h3 {
    font-size: 0.9375rem;
}

.detail-channel small {
    color: #9c9c9c;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.detail-channel small,
.detail-channel h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.player-section .detail-channel-info {
    position: relative;
}

.player-section .detail-channel-info > .follow-btn {
    position: absolute;
    top: -30px;
    right: 10px;
}

.player-section .detail-channel-info > .follow-btn > button {
    background-color: white;
    border-radius: 10px;
    color: #f57070;
    padding: 4px 10px;
    margin: auto 4px;
    white-space: nowrap;
    font-size: 1rem;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.follow-btn > img {
    margin-top: 4px;
    margin-right: 4px;
}

.next-play-section {
    float: left;
    /* width: 350px; */
    width: 400px;
}

.next-play-section .n-title > h3 {
    font-size: 1.3rem;
    color: #f57070;
    margin-left: 20px;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.media:after,
.media:before {
    content: ' ';
    display: table;
}

.n-playlist-item {
    /* position: relative; */
    display: block;
    padding: 10px 10px 5px 20px;
}

.n-playlist-item .playlist-img {
    padding-right: 20px;
    /* float: left; */
    width: 120px;
    /* height: 68px;  */
}

.playlist-body > h3 {
    font-size: 0.875rem;
    color: #999999;
    margin: 0;
}

.playlist-body > small {
    font-size: 0.875rem;
    color: #b1b1b1;
}

.playlist-body > small,
.playlist-body > h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---------------------------------------------------
  Index detail  - Comment part  
----------------------------------------------------- */

.comment-header {
    color: #f57070;
}

.comment-header > h3 {
    font-size: 1.3rem;
}

.comment-section {
    float: left;
    width: 688px;
}

.comment-list-item {
    position: relative;
    display: block;
    padding: 10px 10px 5px 20px;
}

.comment-list-item > a {
    float: left;
    padding-right: 20px;
}

.comment-list-item > a > img {
    border-radius: 49.9%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.comment-up {
    text-align: center;
    margin-top: 5px;
}

.comment-up > span {
    background-color: #ef5350;
    border-radius: 2px;
    padding: 0 5px 1px;
    display: inline-block;
    font-size: 11px;
    color: #fff;
}

.comment-text > strong {
    color: #2e353b;
    margin-bottom: 4px;
    font-size: 15px;
}

.comment-text > small {
    color: #9b9b9b;
}

.comment-text > p {
    margin-top: 15px;
    font-size: 13px;
    color: #828282;
}

.comment-text > strong,
.comment-text > small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-body {
    display: block;
}

/* ---------------------------------------------------
  Category
----------------------------------------------------- */
.category-header {
    position: relative;
    width: 1038px;
    margin: 0 auto;
    padding: 15px 0 15px;
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
}

.category-header-title {
    font-size: 1.3rem;
}

.category-list-item {
    width: 326px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.category-ol-bottom {
    opacity: 0.8;
    background: rgba(248, 248, 248, 0.8);
    color: #666666;
}

.category-ol-bottom .text > h3 {
    font-size: 1.2rem;
    margin: 0;
}

.category-ol-bottom .text > small {
    font-size: 0.9rem;
}

.category-ol-bottom .text h3,
.category-ol-bottom .text small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-group {
    margin: 30px 0;
}

.lk-list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem 0.75rem 0;
    margin-bottom: -1px;
    /* background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); */
}

.lk-list-group-img {
    position: relative;
    margin-right: 20px;
}

.lk-list-group-img .time {
    position: absolute;
    color: #dee2e6;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.3rem;
    font-weight: 400;
    padding: 3px;
    top: 7px;
    right: 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.media-body {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.media-body .view {
    color: #999999;
}

.mylike-favorite {
    position: absolute;
    top: 45px;
    right: 100px;
}

.mylike-favorite > i {
    font-size: 2.5rem;
    color: #f57070;
}

.media-body .view span {
    font-size: 0.7rem;
}

.lk-list-group-text {
    width: 600px;
    /* background-color: yellow; */
}

.lk-list-group-text > strong {
    display: block;
    color: #2e353b;
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 400;
}

.lk-list-group-text > small {
    display: block;
    font-size: 0.875rem;
    color: #8e8d8d;
}

.listings-grid-item .time {
    position: absolute;
    color: #dee2e6;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.3rem;
    font-weight: 400;
    padding: 3px;
    top: 7px;
    right: 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.lk-list-group-tex .view h5 {
    font-size: 1rem;
    color: #666666;
}

/* ---------------------------------------------------
  Channel
----------------------------------------------------- */

.profile-bg-img-loading {
    background: url(./img/channel/ch_bg1.png) center/cover;
}

.profile-bg-img {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.ch-home-tab {
    padding: 30px;
}

.ch-company-lift-tab {
    /* margin-top: 300px; */
    padding: 30px;
}

.ch-home-body {
    padding: 0 30px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-ch-home {
    background: #f26767;
    border-radius: 8px;
    color: white;
    /* text-transform: uppercase; */
}

.btn-ch-home:hover {
    background: white;
    border-radius: 8px;
    color: #f26767;
    border: solid 1px #f26767;
    /* text-transform: uppercase; */
}

.ch-home-body p {
    color: #737171;
}

.ch-home-list {
    list-style-type: none;
    padding: 0;
}

.ch-home-list.circle {
    border-radius: 49.9%;
}

.ch-home-list > li {
    display: inline-block;
    width: 90px;
    margin: 10px;
}

.ch-home-list > li > a {
    display: block;
}

.ch-home-list > li > a > img {
    width: 60px;
    height: 60px;
    border-radius: 49.9%;
}

.ch-page-title > h3 {
    color: #666666;
    font-size: 1rem;
}

.separator-2 {
    font-size: 15px;
    line-height: 1.4666666667;
    color: #777777;
    background-color: #ffffff;
    font-weight: 300;
}

/* ---------------------------------------------------
  Beauty Networks
----------------------------------------------------- */

.profile-section {
    width: var(--lk-bnw-profile-width);
    height: var(--lk-bnw-profile-height);
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


.profile-section.profile {
    padding: 20px;
}

.profile-img {
    width: 130px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.profile-img > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
    text-align: center;
}

.profile-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 20px;
}

.profile-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-profile {
    position: absolute;
    bottom: 13%;
    left: 43%;
    color: #f33838;
    border: 1px solid #f33838;
}

.btn-profile:hover {
    color: #fff;
    background-color: #f85454;
    border-color: #dc3545;
}

/* .profile-info-list > li {
  position: relative;
}
.profile-info-list > li:not(:last-child){
  margin-bottom: 5px;
}

.profile-info-list > li > a.btn {
  color: #fff;
} */

.lk-card {
    position: relative;
    border: 1px solid #e5e4e4;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
    border-radius: 2px;
    display: block;
    background-color: #fff;
}

.add-friend-section {
    width: 500px;
    height: 300px;
    border: 1px solid #e5e4e4;
    padding: 20px;
}

.feed-section,
.beauty-btn-section {
    width: var(--lk-bnw-btn-section-width);
    height: var(--lk-bnw-btn-section-height);
    border: 1px solid #e5e4e4;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


.network-section {
    width: var(--lk-bnw-btn-section-width);
    /* height: 700px; */
    border: 1px solid #e5e4e4;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    padding: 20px 0px;
}

.beauty-btn-list {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
    margin: 30px;
}


.beauty-btn-list > li {
    width: 120px;
}

.btn-beauty {
    color: #f85454;
    background-color: transparent;
    background-image: none;
    border-color: #f85454;
}

.btn-beauty:hover {
    color: #fff;
    background-color: #f85454;
    border-color: #dc3545;
}

.btn-row {
    padding: 20px 0px;
}

.btn-count {
    font-size: 13px;
    margin: 0;
}

.btn-row button {
    margin-right: 10px;
}

.add-form input {
    border: 1px solid #979797;
    border-radius: 8px;
    height: 30px;
}
.add-desc {
    margin-bottom: 30px;
}

.add-desc > p {
    font-size: 0.7rem;
}

.btn-add-submit {
    background: #d8d8d8;
    font-size: 0.7rem;
}


/* ---------------------------------------------------
    Job
----------------------------------------------------- */

.jobs-section {
    width: 1120px;
    /* height: 700px; */
    border: 1px solid #e5e4e4;
    padding: 20px;
}

.job-card > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.job-card-list {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.job-card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex: none;
    /* border-radius: 2px;
  text-align: center; */
    border: 1px solid #f1f1f1;
    overflow: hidden;
    width: 230px;
    height: 230px;
    /* margin-bottom: 10px;
  margin-right: 20px; */
}

.job-card-item.job-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    /* box-shadow: 0 1px 1px rgba(0,0,0,.1); */
}

.job-card-item.job-card {
    transition: box-shadow 0.3s;
    background-color: #fbfbfb;
    padding: 16px;
    margin-right: 12px;
    margin-bottom: 12px;
    /* box-shadow: 0 0 0 1px rgba(0,0,0,.1); */
}

.job-card-logo {
    margin-bottom: 10px;
}

.job-card-detail > h5 {
    color: #171817;
    font-size: 1.1rem;
}

.job-card-detail > p {
    font-size: 0.9rem;
    color: #62605f;
}

.job-card-footer > p {
    margin-bottom: 0px;
    color: #666666;
    display: inline-block;
    border-top: 1px solid#979797;
    font-size: 0.9rem;
}

/* ---------------------------------------------------
    Login, Password
----------------------------------------------------- */

.invalid-masseage {
    margin: 5px 0px 0px 3px;
    color: #F25453;
}

.login-wrapper, 
.interest-wrapper,
.password-wrapper {
    width: 100%;
    overflow-y: hidden;
}

.login-wrapper .card, 
.password-wrapper .card {
    max-width: 837px;
    min-width: 837px;
    border: 0;
    flex-direction: row;
    border: 1px solid #E9E9E9;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.1);
}

.lk-bg-screen-top {
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: var(--lk-login-bg-color);
}

.password-wrapper .logo-img,
.login-wrapper .logo-img {
    margin-bottom: 30px;
}

.login-wrapper .card-left {
    margin: 50px 25px;
    width: 500px;
    border-right: 1px solid #E9E9E9; 
}

.login-wrapper .card-right {
    padding: 100px 25px;
}

.lk-password-sent-email,
.lk-password-success,
.lk-password-form,
.lk-login-form {
    z-index: 10;
    padding: 50px;
    /* width: 670px; */
    width: auto;
}

.lk-login-form .remember-me > label {
    font-size: 0.9rem;
    color: #919191;
}

.lk-login-form .forget > a {
    font-size: 0.9rem;
    color: #919191;
}

.lk-login-form .lk-login-header > h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #f25453;
    margin-bottom: 40px;
}

.lk-password-success h3 {
    margin-bottom: 40px;
}

.lk-password-form .lk-password-header h2 {
    
}

.lk-password-form .lk-password-header p {
    margin-bottom: 50px;
    color: #919191;
}

.lk-login-submit-btn {
    margin-top: 30px;
    font-family: PingFangSC-Regular;
}


.card-right > .lk-singup {
    margin-bottom: 70px;
}

.card-right > .lk-singup > .no-account {
    font-size: 0.9rem;
    color: #919191;
}

.card-right > .lk-singup > .join {
    font-size: 0.9rem;
    color: #F35C5B;
}

.card-right > .social-links > .login-easily {
    font-size: 0.9rem;
    color: #919191;
}

.card-right .social-links ul {
    list-style: none;
    /* font-size: 0;
    margin-top: 20px;
    margin-bottom: 20px; */
    padding-left: 0;
}

.card-right .social-links .social-links-list > .social-links-item {
    display: inline-block;
    margin: 5px;
}

.card-right .social-links .social-links-list > .social-links-item > a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 18px;
    background: #F8F8F8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.social-links-item a i{
    line-height: 40px;
}

.gcolor { color: #dd4b39; }
.fcolor { color: #3b5998; }
.wcolor { color: #00a478; }
.icolor { color: #ff0084; }
.tcolor { color: #00aff0; }
.weicolor { color: #f74425; }

/* ---------------------------------------------------
    Channel - biz.
----------------------------------------------------- */

.channel-biz-section {
    position: relative;
    width: 1038px;
    margin: 0 auto;
}

.ch-profile-bg-img {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.ch-profile-bg-img-loading {
    background: url('./img/channel/ch_bg1.png') center/cover;
}

.btn-subscribe {
    background: #f26767;
    border-radius: 8px;
    color: white;
    width: 100px;
    padding: 2px 0;
}

.ch-profile-container {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.ch-profile-container.profile {
    margin: -200px 0px 0px 0px;
}

.ch-profile-container > img {
    width: 100px;
    height: 100px;
    border-radius: 49.9%;
}

.ch-profile-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
}

.row.ch-social-link {
    position: absolute;
    top: 15px;
    right: 15px;
}

.col.ch-social-link > img {
    margin-bottom: 5px;
}

.lk-ch-card {
    position: relative;
    /* border: 1px solid #E5E4E4; */
    border-radius: 2px;
    display: block;
    background: #fbfbfb;
}

.post-section {
    width: 650px;
    /* float: left; */
    display: inline-block;
}

.post-section:before {
    content: '';
    display: table;
    clear: both;
}

.post-section:after {
    content: '';
    display: table;
    clear: both;
}

.side-section:before {
    content: '';
    display: table;
    clear: both;
}

/* .side-section:after {
  content: "";
  display: table;
  clear: both
} */

.side-section {
    width: 300px;
}

.post-img > img {
    width: 600px;
}

.post-header {
    padding: 20px 10px 20px;
}

.post-header > h3 {
    font-family: Helvetica-Bold;
    font-size: 1.3rem;
    color: #5b5a5a;
}

.post-header > p {
    font-size: 15px;
    line-height: 1.4666666667;
    color: #777777;
    font-weight: 300;
}

/* Tab */
.tab-nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    box-shadow: 0 2px 0 0 #eee;
}
.tab-nav ul > li > a {
    color: #828282;
    text-transform: uppercase;
    font-weight: 500;
    padding: 18px 10px 15px;
    display: block;
    text-align: center;
    position: relative;
}
.tab-nav ul > li > a:before,
.tab-nav ul > li > a:after {
    position: absolute;
    bottom: -2px;
    width: 0;
    background-color: #03a9f4;
    content: '';
    height: 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.tab-nav ul > li > a:before {
    left: 50%;
}
.tab-nav ul > li > a:after {
    right: 50%;
}
.tab-nav ul > li.active > a:before,
.tab-nav ul > li.active > a:after {
    width: 50%;
}
.tab-nav:not(.tab-nav--justified) ul > li {
    display: inline-block;
}
.tab-nav--justified ul > li {
    display: table-cell;
    width: 1%;
}
.tab-nav__toggle {
    display: none;
    cursor: pointer;
}
.tab-nav--mobile {
    padding: 25px 25px 0;
    margin-bottom: 10px;
}
.tab-nav--mobile .tab-nav__inner {
    position: relative;
}
.tab-nav--mobile .tab-nav__inner.open .tab-nav__toggle:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.tab-nav--mobile .tab-nav__inner.open .tab-nav__toggle:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.tab-nav--mobile .tab-nav__toggle {
    display: block;
    color: #8e8e8e;
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 9px;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}
.tab-nav--mobile .tab-nav__toggle:before,
.tab-nav--mobile .tab-nav__toggle:after {
    position: absolute;
    bottom: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.tab-nav--mobile .tab-nav__toggle:before {
    content: '';
    left: 0;
    width: 100%;
    background-color: #2196f3;
    height: 2px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.tab-nav--mobile .tab-nav__toggle:after {
    content: '\f2f2';
    font-family: 'Material-Design-Iconic-Font';
    font-size: 23px;
    position: absolute;
    right: 5px;
    color: #8e8e8e;
}
.tab-nav--mobile .dropdown-menu {
    width: 100%;
    top: 30px;
}
.tab-nav--mobile .dropdown-menu > li {
    display: block;
    width: 100%;
}

/* ---------------------------------------------------
    My like
----------------------------------------------------- */

.mylike-section {
    width: 990px;
}

/* ---------------------------------------------------
  Upload
----------------------------------------------------- */

.upload-section {
    width: 1130px;
    margin: 0 auto;
}

.upload-section .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-box.upload-empty-frame {
    /* width: 990px; */
    height: 400px;
    position: relative;
    border: 1px dashed #aaa;
    border-radius: 6px; 
    padding: 20px;
    cursor: pointer;
}

.upload-box.upload-empty-frame.dragover {
    border: 1px dashed #bbb;   
}

.upload-box .btn-upload {
    background: #ee3837;
    border: 1px solid #ef3837;
    color: #ffffff;
    margin-bottom: 13px;
    /* padding: 10px 20px; */
    line-height: 2rem;
    position: relative;
    overflow: hidden;
}


.upload-box .btn-upload .input-file {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    border: solid transparent;
    opacity: .0;
	filter: alpha(opacity= 0);
	cursor: pointer;
}

.upload-table {
    display: table;
    width: 100%;
}

.upload-middle {
    display: table-cell;
    vertical-align: middle;
}

.upload-item {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.upload-item > img {
    width: 75px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.upload-item > p {
    color: #666666bf;
}


.upload-manage {
    margin-top: 40px;
    cursor: pointer;
}

.upload-manage > a > h3 {
    font-size: 0.9rem;
    color: #ee3837;
}

.actions > div > a,
.actions > div,
.actions > a {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    text-align: center;
}
.actions > div > a > i,
.actions > div > i,
.actions > a > i {
    /* color: #adadad; */
    color: white;
    font-size: 20px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}
.actions > div > a:hover > i,
.actions > div:hover > i,
.actions > a:hover > i {
    /* color: #2e353b; */
    color: white;
}
.actions > div,
.actions > a {
    padding-top: 5px;
}
.actions__toggle {
    cursor: pointer;
    position: relative;
}
.actions__toggle input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 0;
    filter: alpha(opacity=0);
}
.actions__toggle input[type='checkbox']:checked ~ i:not(:last-child) {
    display: none;
}
.actions__toggle input[type='checkbox']:checked ~ i:last-child {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.actions__toggle > i {
    position: absolute;
    right: 6px;
}
.actions__toggle > i:last-child {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    color: #ffb300;
}


/*
    admin
*/

.btn-edit {
    background: #f26767;
    border-radius: 8px;
    color: white;
    width: 100px;
    padding: 2px 0;
}