
/* ---------------------------------------------------
  beauty network - roost
----------------------------------------------------- */

.label {
    border-radius: 1px;
    padding: 3px 8px;
    /* font-size: 11px; */
    display: inline;
    color: #fff;
    vertical-align: baseline;
}

.label-warning {
    background-color: #FF9800;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #cc7a00;
}

.label-success {
    background-color: #4CAF50;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #3d8b40;
}


.profile__info {
    padding: 10px 25px;
    overflow: hidden;
}

.profile__review {
    margin: 20px 0 15px;
}

  
  .profile__review > span {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 1.42857143;
    color: #828282;
  }
  
  .profile__review > span:last-child {
    margin-left: 5px;
  }

  .rmd-contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rmd-contact-list > li {
  /* font-family: Roboto,sans-serif; */
  position: relative;
  padding-left: 30px;
  color: #828282;
  font-size: 13px;
  line-height: 1.42857143;
}

.rmd-contact-list > li:not(:last-child):not(.rmd-contact-list__title) {
  margin-bottom: 10px;
}

.rmd-contact-list > li > i {
  width: 18px;
  text-align: center;
  font-size: 17px;
  top: 2px;
  position: relative;
  margin: 0 10px 0 -30px;
}

.rmd-contact-list__title {
  font-size: 14px;
  color: #505c66;
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 2px 0 10px;
}


/* ---------------------------------------------------
  news - roost
----------------------------------------------------- */

.news-section {
    /* text-align: center; */
}
.section__title {
    font-size: 26px;
    color: #666666;
}

/* Cards */

.card {
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    border-radius: 2px;
    display: block;
  }
  
  .card:not([class*="mdc-bg-"]) {
    background: #fff;
  }
  
  .card:before,
  .card:after {
    content: " ";
    display: table;
  }
  
  .card:after {
    clear: both;
  }
  
  .card:before,
  .card:after {
    content: " ";
    display: table;
  }
  
  .card:after {
    clear: both;
  }
  
  .card__header {
    position: relative;
    display: block;
    border-radius: 2px 2px 0 0;
  }
  
  .card__header h1,
  .card__header h2 {
    margin: 0;
    font-weight: 400;
  }
  
  .card__header h1 {
    font-size: 20px;
  }
  
  .card__header h2 {
    font-size: 17px;
  }
  
  .card__header small {
    display: block;
    margin-top: 5px;
    color: #9c9c9c;
    line-height: 160%;
    font-size: 13px;
  }
  
  @media (min-width: 992px) {
    .card__header {
      padding: 30px 35px;
    }
  }
  
  @media (max-width: 991px) {
    .card__header {
      padding: 25px;
    }
  }
  
  .card__header + .card__body {
    padding-top: 0;
  }
  
  .card__header .btn--float {
    position: absolute;
    bottom: -22px;
    right: 30px;
    z-index: 1;
  }
  
  @media (min-width: 992px) {
    .card__body,
    .card__footer {
      padding: 30px 35px;
    }
  }
  
  @media (max-width: 991px) {
    .card__body,
    .card__footer {
      padding: 20px 25px;
    }
  }
  
  .card__sub:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .card__sub > h4 {
    margin: 0 0 20px;
    font-weight: 400;
  }
  
  .card__img {
    display: block;
  }
  
  .card__img > img {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }
  
  .card__footer--highlight {
    background-color: #f9f9f9;
  }
  
  .card--dark {
    color: #fff;
  }
  
  .card--dark .card__header > h2 {
    color: #fff;
  }
  
  .card--dark .card__header > small {
    color: rgba(255, 255, 255, 0.65);
  }
  
  .card--dark .btn {
    box-shadow: none;
  }


  
.subscribe {
    padding: 40px 30px 30px;
    text-align: center;
  }
  
  .subscribe h2 {
    font-size: 16px;
    color: #fff;
  }
  
  .subscribe small {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    margin-bottom: 20px;
  }
  
  .subscribe .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  
  .subscribe .form-control:-ms-input-placeholder {
    color: #fff;
  }
  
  .subscribe .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  
  .subscribe__icon {
    color: #fff;
    font-size: 25px;
}

.btn--circle {
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 52px;
    font-size: 20px;
    padding: 0;
}

  .subscribe .btn--circle {
    box-shadow: none;
    background-color: #fff;
  }
  
  .subscribe__icon {
    color: #fff;
    font-size: 25px;
  }
  
  .subscribe__icon > i {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  

  
/* Form */
.form-group--light .form-control {
    border-bottom-color: rgba(255,255,255,.25);
    color: #fff;
    font-weight: 500;
}

.form-control, .form-control:focus {
    box-shadow: none;
}

.form-group__bar {
    position: relative;
    display: block;
}

.form-group--light .form-group__bar:after, .form-group--light .form-group__bar:before {
    background-color: #FFEB3B;
}

.form-group__bar:before {
    left: 50%;
}

